@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
.h1-seo {
  font-size: 18.4em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans Condensed", sans-serif;
  z-index: 1;
  letter-spacing: -10px;
  text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
